:root{
  --bg:#f5f7fb;
  --card:#ffffff;
  --text:#1a1a1a;
  --sub:#777;
  --primary:#2563eb;
}

body.dark{
  --bg:#0f172a;
  --card:#1e293b;
  --text:#f1f5f9;
  --sub:#94a3b8;
  --primary:#3b82f6;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:system-ui;
  margin:0;
}

.card{
  background:var(--card);
  border-radius:16px;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

button{
  border-radius:10px;
  cursor:pointer;
}